/*---------------------------------------
 * html body
 ---------------------------------------*/
html {
	width: 100%;
	height: 100%;
	font-family: $fontFamily;
	color: $textColor;
	font-size: $fontSizeSP;
	line-height: 1.8;

	@include screen(tb-and-pc) {
		font-size: $fontSizePC;
	}
}

body {
	width: 100%;
	height: 100%;
}
