/*---------------------------------------
 * Common
 ---------------------------------------*/
.pc {
	@include screen(sp) {
		display: none !important;
	}
}

.sp {
	@include screen(tb-and-pc) {
		display: none !important;
	}
}

.section, .article {
	padding: 60px 0;

	.article-title {
		margin-bottom: 1em;
		text-align: center;
	}
}

.container {
	width: 100%;
	padding: 0 5.334%;

	@include screen(tb-and-pc) {
		max-width: #{$widthContainer + 80px};
		margin: 0 auto;
		padding: 0 40px;
	}
}

