//
// Mixin
//

// メディアクエリ
@mixin screen($type) {
	@media #{ map-get($breakPoint, $type) } {
		@content;
	}
}

// フォントサイズ（remに変換）
@mixin font-size-rem-sp($size) {
	font-size: #{ $size / $fontSizeSP }rem;
}
@mixin font-size-rem-pc($size) {
	font-size: #{ $size / $fontSizePC }rem;
}

@mixin cf {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

@mixin hover-opacity {
	&:hover {
		opacity: .7;
	}
}
